{
  "openapi": "3.1.0",
  "info": {
    "title": "ONCHAIN STOCKS GUIDE Content API",
    "version": "1.0.0",
    "description": "Public, read-only metadata for the ONCHAIN STOCKS GUIDE website."
  },
  "servers": [
    {
      "url": "https://onchainstocks.guide"
    }
  ],
  "paths": {
    "/api/site.json": {
      "get": {
        "summary": "Get site metadata and page index",
        "operationId": "getSiteMetadata",
        "responses": {
          "200": {
            "description": "Site metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/api/status.json": {
      "get": {
        "summary": "Get content API status",
        "operationId": "getApiStatus",
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SiteMetadata": {
        "type": "object",
        "required": [
          "name",
          "url",
          "language",
          "description",
          "pages"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "name_en": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "language": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "updated": {
            "type": "string",
            "format": "date"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "title",
                "url"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "topics": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "disclaimer": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "object",
        "required": [
          "status",
          "service",
          "version"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "ok"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      }
    }
  }
}
